html, body {

    height: 100%;

}
    
head{
    font-family: 'Georgia', Times, Times New Roman, serif;

}

body{
    display: flex;
    padding-top: 0;
    margin: 0;
    background-color: whitesmoke;
    flex-direction: column;
}
.header{
    padding-top: 5px;   
    height: 100px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom-style: solid;
    border-color: #cccccc;
}
.name{
    background-color: #4aaaa5;
    width: 245px;
    height: 35px;
    text-align: center;
    padding-top:20px;
    padding-bottom: 25px;
    margin-left: 15%;
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    float: left;
}

.apc{
    float: right;
    color: grey;
    margin-right:15%;
    padding-top: 35px;
    padding-bottom: 35px;
    list-style-type: none;
    display: inline;

}
.container {
    width: 960px;
    height: 465px;
    margin-left: 15%;
    margin-top: 35px;
    padding-bottom: 5px;
    color:#4aaaa5;
    background-color: white;
    position: relative;

}
.about{
    padding-top: 10px;
    padding-left: 10px;
    border-bottom-style: solid;
    border-color: #cccccc;
}

.bio-image{
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.bio{
    position: relative;
    text-align: left;
    color: grey;
    line-height: 1.6;
    padding-left: 5px;
    padding-right: 5px;
}   

.footercontent{

    min-height: calc(100vh-70px);
    flex: 1 0 auto;
}
.footer{
    margin-top: 87px;
    background-color:#666666;
    border-top-style: solid;
    border-color:  #4aaaa5;
    text-align: center;
    color: white;
    flex-shrink: 0;

}